.nav{
    background-color: #395249;
    width: 100%;
    align-content: center;
    height: 25%;
}

.brandName{
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    padding: .5em 1em;
    letter-spacing: .5em;
    /* width: 50%; */
    margin: auto;
}
.brandName2{
    margin-top:0;
    display: block;
}
.title{
   color: #395249;
}
#navbarList{
    background-color: #395249;
    font-size: 1.2em;
    animation: fade .5s linear forwards
}
.burger{
    color:white;
}
.link{
    color:white;
    padding: .5em;
}
.link:hover{
    color: white;
    padding-bottom: 8.6px;
}
.link:hover::after{
    content: "";
    height: 1px;
    display: block;
    background-color: #F97B62;
    
}
@media only screen and (min-width: 1024px) {
    #navbarList{
        background-color: #395249;
        display: block;
        padding-bottom: 1em;
        
    }
    

    .brandName{
        color: white;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-size: 1.75em;
        padding: .5em 1em;
        letter-spacing: .5em;
        width: 50%;
        margin: auto;
    }
  }
  @keyframes fade {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
    }
    to { 
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  .btn{
    background: none;
    /* border-style: solid;
    border-color: #F97B62; */
    border: thin solid #F97B62;
    border-radius: 30px;
  }
  .btn:hover{
    background: #F97B62;
    color:white;
    border-color: #F97B62;
    border-radius: 25px;

  }

  #homeButton{
    position: fixed;
    bottom: 3em;
    right: 3em;
    z-index: +1;
    padding: 1.5em 1.0em;
    border-radius: 100px;
    color: white;
    background-color: #F97B62;
    border-color: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }