.card{
    margin: 1em 0em;
    border-radius: 6px;
}

#services{
    margin-top: 1.5em;
}
.serveHr{
    margin-bottom: 3em;
    margin-top: 1.5em;
}
img{
    border-radius: 6px;
}

@media only screen and (min-width: 1024px) {
    .card{
        margin: 0em 1em;
    }
    hr{
        margin-bottom: 3em;
        margin-top: 1.5em;
    }
   
  }
