hr{
    background-color:#F97B62;
    border: none;
    display: block;
    height: 1px;
    margin: 0;

}
.homeBtn{
    margin-bottom: 2em;
    margin-right: 1em;
    color: #395249;
    padding:.5em
}

.homeBtn:hover{
    animation: shake 1s;
}

.circle{
    border-radius: 6px;
}
.section{
    padding: 2em 1.5em
}

@media only screen and (min-width: 1024px) {
    #navbarList{
        background-color: #395249;
        display: block;
        padding-bottom: 1em;
        
    }
    hr{
        margin: 1.5em
    }

   
  }

  @keyframes shake {
    0% { transform: translate(0px, -3px) rotate(0deg); }
    /* 10% { transform: translate(0px, 0px) rotate(0deg); }
    20% { transform: translate(0px, 0px) rotate(1deg); }
    30% { transform: translate(0px, 2px) rotate(0deg); } */
    /* 40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); } */
  }